@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
.btnAdd{
    width: 100%;
    margin-left: 2%;
    margin-top: 2%;
}
.mainBody{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-top: 5%;
}
.lineBtn{
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
}
.textBtn{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.labelText{
    position: absolute;
    text-align: center;
    user-select: none;
    pointer-events: none;
    font-family: 'Oswald', sans-serif;
    margin-top: 4%;
}
.lineMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ОТРИСОВКА СЛАЙДЕРОВ */
.inputRange {
    width: 100%;
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #ffffff;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5%;
  }
  .inputRange::-webkit-slider-runnable-track {
    height: 80px;
    width: 20%;
    color: #ffffff;
    margin-top: -1px;
    background-color: #ffffff;
  }
  .inputRange::-webkit-slider-thumb {
    width: 2%;
    -webkit-appearance: none;
    height: 100%;
    cursor: ew-resize;
    background: #62bb46;
    box-shadow: -130px 0px 0px 130px #62bb46;
  }
  /* .inputRange::-moz-range-progress {
    background-color: #43e5f7;
  }
  .inputRange::-moz-range-track {
    background-color: #9a905d;
  }
  .inputRange::-ms-fill-lower {
    background-color: #43e5f7;
  }
  .inputRange::-ms-fill-upper {
    background-color: #9a905d;
  } */

  .nav{
    width: 100%;
    padding: 0 5% 0 5%;
  }
  .titleGui{
    font-family: 'Overpass', sans-serif;
    margin-top: 10%;
  }
  .circleMaterial{
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 5%;
    cursor: pointer;
  }
  .circleMaterial:not(:first-child){
    margin-left: 5%;
  }
  .lineSlider{
    overflow-x: auto;
    display: flex;
  }